.lBackground {
    background-color: #BDE1F9;
    background-image: url('/assets/choco.webp');
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

.lNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    margin: auto;
    background-color: white;
}

.lLogo {
    height: 70px;
    width: 70px;
}

@keyframes fade-in {
    0% { opacity: 0; } /* Start with 0 opacity */
    100% { opacity: 1; } /* End with 100% opacity */
}

.lWord1, .lWord2, .lWord3 {
    color: #FFF;
    font-size: 2.5vw;
    margin: 2vw;
    opacity: 0; /* Initially transparent */
}

.lWord1 {
    font-family: monospace;
    animation: fade-in 1.5s forwards;
}

.lWord2 {
    font-family: monospace;
    animation: fade-in 1.5s forwards;
    animation-delay: .75s;
}

.lWord3 {
    font-family: monospace;
    animation: fade-in 1.5s forwards;
    animation-delay: 1.5s;
}
