.myDIV {
    position: absolute;
    top: 200px;
    width: 300px;
    height: 150px;
    background-color: lightblue;
    border: 1px solid black;
    animation: mymove 5s infinite;
}

.DIV2 {
    position: absolute;
    top: 180px;
    left: 30px;
    width: 300px;
    height: 150px;
    background-color: coral;
    border: 1px solid black;
}

@keyframes mymove {
    50% {opacity: 0;}
}
